:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  --primary-color: #c13e70;
  --primary-color-contrast: #fff;

  --secondary-color: #eee;
  --secondary-color-contrast: #555;

  --section-border-color: #eee;
}

header {
  padding: 2rem 1em;
  border-bottom: 1px solid var(--section-border-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main, footer {
  padding: 1.5em;
}

code {
  font-size: .8rem;
}

footer {
  padding-top: 4rem;
  border-top: 1px solid var(--section-border-color);
}

article img {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.brand {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
}

p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1.6em;
}

ul {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

ul li {
  margin-top: .5em;
  margin-bottom: .5em;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 7px solid var(--section-border-color);
  font-style: italic;
  margin-left: 0;
  padding: .5em;
}

.pure-button {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

.button-small {
  font-size: 75%;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color-contrast);
  border-radius: 1em;
  line-height: 1em;
}

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  overflow: hidden;
}

[data-reach-dialog-content] {
  width: 90vw;
  max-width: 880px;
}

[role="dialog"] {
  color: #fff;
  margin: 0 auto;
  max-width: 880px;
  height: 100vh;
  padding: 3em 1em;
  background-color: transparent;
}

[role="dialog"] .dialog-close {
  position: absolute;
  right: 1em;
  top: 1em;
  background: none;
  color: #fff;
  font-size: 120%;
}

[role="dialog"] .dialog-close:hover {
  color: #ccc;
}

@media only screen and (max-width: 480px) {
  header input {
    width: 3.5em;
  }
}
