:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  --primary-color: #c13e70;
  --primary-color-contrast: #fff;
}

header {
  margin: 2rem 0;
  padding: 0 1em;
}

.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.brand {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
}

p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1.6em;
}

ul {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

ul li {
  margin-top: .5em;
  margin-bottom: .5em;
}

main, footer {
  padding: 1.5em;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

.pure-button {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}