:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  --primary-color: #c13e70;
  --primary-color-contrast: #fff;

  --secondary-color: #eee;
  --secondary-color-contrast: #555;
}

header {
  margin: 2rem 0;
  padding: 0 1em;
}

.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.brand {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
}

p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  line-height: 1.6em;
}

ul {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

ul li {
  margin-top: .5em;
  margin-bottom: .5em;
}

main, footer {
  padding: 1.5em;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

.pure-button {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

.button-small {
  font-size: 75%;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color-contrast);
  border-radius: 1em;
  line-height: 1em;
}

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .95);
}

[role="dialog"] {
  margin: 0 auto;
  max-width: 880px;
  height: 100vh;
  padding: 4em 1em;
}

[role="dialog"] .dialog-close {
  position: absolute;
  right: 1em;
  top: 1em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}